---
import PageSection from "./PageSection.astro";

interface Button {
  label: string;
  url: string;
  variant?: string;
}

export interface Props {
  heading: string;
  text?: string;
  align?: "left" | "center";
  buttons?: Button[];
  background?: string;
}

const { heading, text, align = "left", buttons = [], background = "white" } = Astro.props;
---

<PageSection heading={heading} intro={text} background={background} align={align}>
  <div class="grid-col">
    {
      buttons.length > 0 && (
        <div class={`usa-button-group margin-top-2 ${align === "center" && "flex-justify-center"}`}>
          {buttons.map((btn) => (
            <a href={btn.url} class={`usa-button${btn.variant ? ` usa-button--${btn.variant}` : ""}`}>
              {btn.label}
            </a>
          ))}
        </div>
      )
    }
  </div>
</PageSection>
