---
import PageSection from "./PageSection.astro";

interface Button {
  label: string;
  url: string;
  variant?: string;
}

export interface Props {
  heading: string;
  intro?: string;
  align?: "left" | "center";
  buttons?: Button[];
  color?: string;
}

const { align = "left", buttons = [], color = "white", ...props } = Astro.props;
---

<PageSection {...props} color={color} align={align}>
  {
    buttons.length > 0 && (
      <div class={`usa-button-group margin-top-2 ${align === "center" && "flex-justify-center"}`}>
        {buttons.map((btn) => (
          <a href={btn.url} class={`usa-button${btn.variant ? ` usa-button--${btn.variant}` : ""}`}>
            {btn.label}
          </a>
        ))}
      </div>
    )
  }
</PageSection>
