---
import Markdown from "./Markdown.astro";

interface Link {
  label: string;
  url: string;
}

interface Item {
  heading?: string;
  text?: string;
  link?: Link;
}
interface Props {
  heading?: string;
  intro?: string;
  outro?: string;
  items?: Item[];
  background?: string;
  align?: "center" | "left";
}

const { heading = false, intro = false, outro = false, background = "white", items = [] } = Astro.props;
---

<section
  class={`bg-primary-darker bg-${background}-vivid border-${background}-dark border-y-1px usa-section text-white text-medium`}>
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-12 tablet:grid-col-10 desktop-lg:grid-col-12 desktop-lg:margin-left-0 tablet:grid-offset-1">
        {heading && <h2 class="font-sans-2xl margin-bottom-2">{heading}</h2>}
      </div>

      <div class="grid-col-12 tablet:grid-col-8 desktop-lg:grid-col-8 desktop-lg:margin-left-0 tablet:grid-offset-1">
        {intro && <Markdown content={intro} classes="font-sans-lg line-height-sans-4 margin-bottom-4" inline />}
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col desktop-lg:margin-left-0 tablet:grid-offset-1">
        {
          items.map((item, index) => (
            <div class="grid-row grid-gap-lg">
              <div
                class={`grid-col-12 tablet:grid-col-7 desktop:grid-col-5 margin-y-6  ${index % 2 === 1 && "order-last"}`}>
                {item.heading && <h3 class="font-body-xl text-medium">{item.heading}</h3>}

                {item.text && (
                  <Markdown content={item.text} classes="font-body-md line-height-body-3 margin-bottom-4" inline />
                )}

                {item.link && (
                  <div class="usa-button-group margin-top-2 margin-bottom-0">
                    <a class="usa-button usa-button--inverse" href={item.link.url}>
                      {item.link.label}
                    </a>
                  </div>
                )}
              </div>
              <div class="grid-col-12 tablet:grid-col-5 desktop:grid-col-7 margin-y-auto text-center">art here</div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-12 margin-x-auto tablet:grid-col-10 desktop-lg:grid-col-12">
        {
          outro && (
            <Markdown content={outro} classes="margin-top-2 font-sans-lg line-height-sans-4 margin-bottom-0" inline />
          )
        }
      </div>
    </div>
  </div>
  <style>
    .usa-link {
      position: relative;
    }
    .usa-link .usa-icon {
      position: absolute;
      right: -1rem;
    }
  </style>
</section>
