---
import gsaLogo from "../../public/gsaLogoReverse.png";

type Link = { text: string; url: string };
type LinkList = { label: string; links: Link[] };

interface Props {
  list: LinkList[];
  identifier: Link[];
}

const { list, identifier } = Astro.props;
---

<footer class="usa-footer usa-footer--big border-top-1px border-primary-lighter">
  <!-- <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div> -->
  <div class="usa-footer__primary-section bg-primary-lightest">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet-lg:grid-col-10 margin-x-auto desktop-lg:grid-col-12">
          <nav class="usa-footer__nav" aria-label="Footer navigation,,">
            <div class="grid-row grid-gap-4">
              {
                list.map((linkList) => (
                  <div class="mobile-lg:grid-col-6 tablet:grid-col-4 desktop:grid-col-3">
                    <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                      <h4 class="usa-footer__primary-link text-primary-dark">{linkList.label}</h4>
                      <ul class="usa-list usa-list--unstyled">
                        {linkList.links.map((link) => (
                          <li class="usa-footer__secondary-link">
                            <a href={link.url}>{link.text}</a>
                          </li>
                        ))}
                      </ul>
                    </section>
                  </div>
                ))
              }
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer__logo-img" src="assets/img/logo-img.png" alt="" />
          </div>
          <div class="mobile-lg:grid-col-auto">
            <p class="usa-footer__logo-heading">Cloud.gov</p>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-6">
          <div class="grid-col-auto">
            <p>
              <a href="mailto:support@cloud.gov">support@cloud.gov</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="usa-identifier site-identifier">
  <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier">
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="https://www.gsa.gov" target="_blank">
          <img
            src={gsaLogo.src}
            class="usa-identifier__logo"
            alt="GSA logo identifier"
            loading="lazy"
            decoding="async"
          />
        </a>
      </div>
      <div class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">Cloud.gov</p>
        <p class="usa-identifier__identity-disclaimer">
          An official website of the
          <a href="https://gsa.gov" class="usa-link--external" target="_blank"> U.S. General Services Administration</a>
        </p>
      </div>
    </div>
  </section>
  <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links">
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        {
          identifier.map((link) => (
            <li class="usa-identifier__required-links-item">
              <a href={link.url} class="usa-identifier__required-link usa-link usa-link--external" target="_blank">
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="Government information and services">
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">Looking for U.S. government information and services?</div>
      <a href="https://www.usa.gov/" class="usa-link--external" target="_blank">Visit USA.gov</a>
    </div>
  </section>
</div>
