---
import Markdown from "./Markdown.astro";

interface Props {
  heading?: string;
  intro?: string;
  content?: string;
  outro?: string;
  classes?: string;
  id?: string;
  color?: string;
  align?: "center" | "left";
}

const {
  heading = false,
  intro = false,
  outro = false,
  content = false,
  color = "white",
  align = "left",
  classes = "",
  id = false,
} = Astro.props;
---

<section {...id && { id }} class={`usa-section section section--${color} align-${align} ${classes}`}>
  <div class="section__container">
    <div class="section__intro">
      {heading && <h2 class="font-sans-xl margin-bottom-2">{heading}</h2>}

      {intro && <Markdown content={intro} classes="font-sans-lg line-height-sans-4" inline />}
    </div>
    <div class="section__slot">
      <slot />
    </div>
    {
      content && (
        <div class="section__content">
          <Markdown
            content={content}
            classes="section__markdown font-body-lg margin-top-neg-2 margin-bottom-2 line-height-sans-4"
          />
        </div>
      )
    }
    {
      outro && (
        <div class="section__outro">
          <Markdown content={outro} classes="margin-top-2 font-sans-lg line-height-sans-4 margin-bottom-0" inline />
        </div>
      )
    }
  </div>
</section>
