---
import ProcessList from "../components/ProcessList.astro";

import Markdown from "./Markdown.astro";

interface Step {
  heading: string;
  text?: string;
  items?: string[];
}

export interface Props {
  stepHeadingLevel?: "h3" | "h4";
  items: Step[];
  heading?: string;
  intro?: string;
  outro?: string;
  background?: string;
  checks?: boolean;
}
const checksClasses =
  "bg-base-lightest padding-y-1 padding-x-4 radius-md tablet-lg:grid-offset-1 tablet-lg:grid-col-10 desktop-lg:grid-col-8";
const { heading, intro, outro, background = "white", stepHeadingLevel = "h3", checks = false, items } = Astro.props;
---

<section class={`bg-${background} usa-section`}>
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-12 tablet:grid-col-10 desktop-lg:grid-col-12 margin-x-auto">
        <div class="grid-row">
          {heading && <h2 class="font-sans-xl margin-bottom-2">{heading}</h2>}
          {intro && <Markdown content={intro} classes="font-sans-lg line-height-sans-4 margin-bottom-4" inline />}
        </div>
        <div class="grid-row">
          <div class={`grid-col-12 margin-bottom-4 ${checks && checksClasses}`}>
            <ProcessList steps={items} headingLevel={stepHeadingLevel} checks={checks} />
          </div>
          <div class="grid-row">
            {
              outro && (
                <Markdown
                  content={outro}
                  classes="margin-top-1 font-sans-md line-height-sans-5 margin-bottom-3"
                  inline
                />
              )
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
