---
import PageSection from "./PageSection.astro";

export interface Props {
  heading: string;
  text?: string;
  align?: "left" | "center";
  background?: string;
  account_id: string;
  category_id: string;
}

const { heading, text, align = "center", background = "white", account_id, category_id } = Astro.props;
---

<PageSection heading={heading} intro={text} background={background} align={align}>
  <form
    action={`https://public.govdelivery.com/accounts/${account_id}/subscribers/qualify`}
    method="post"
    accept-charset="UTF-8"
    class="margin-top-0 display-flex flex-row flex-justify-center">
    <input type="hidden" name="utf8" value="✓" />
    <input type="hidden" name="category_id" id="category_id" value={category_id} />
    <label class="usa-sr-only" for="email">Email address</label>
    <input
      class="usa-input bg-primary-lightest border-primary-light margin-top-0 padding-y-1 maxw-card-lg"
      type="email"
      name="email"
      id="email"
      placeholder="you@agency.gov"
      required
    />
    <input
      class="usa-button margin-0 padding-y-1 radius-left-0 margin-left-neg-1px"
      type="submit"
      name="commit"
      value="Sign up"
    />
  </form>
</PageSection>
