---
import { late } from "astro:schema";
import Markdown from "./Markdown.astro";
import PageSection from "./PageSection.astro";
import { Image } from "astro:assets";

interface Button {
  label: string;
  url: string;
}

interface Item {
  icon?: string;
  heading?: string;
  text?: string;
  link?: string;
  button?: Button;
}

interface Props {
  heading?: string;
  intro?: string;
  outro?: string;
  items?: Item[];
  align?: "center" | "left";
  id?: string;
  color?: string;
}

const { items = [], align = "center", color = "base", ...props } = Astro.props;

const tileReverseLogoClasses = "tile__link tile__reverse usa-link--unstyled";

const tileWrapperClasses = `tile__wrapper text-${align}`;
const tileLinkClasses = `tile__link ${tileWrapperClasses}`;

let TileWrapper = "div";
let tileWrapperProps = { class: tileWrapperClasses, href: "" };
let tileIsLogo = false;
let tileIsReverseLogo = false;
function formatTileWrapper(tileItem: Item) {
  // is Tile a link?
  if (tileItem.link) {
    TileWrapper = "a";
    tileWrapperProps.href = tileItem.link;
    tileWrapperProps.class = tileLinkClasses;
  }
  TileWrapper = tileItem.link ? "a" : "div";

  // is icon a brand logo? is it reversed (for docs link) or just an icon?
  if (tileItem.icon && tileItem.icon.startsWith("reverse-logo-cloud-")) {
    tileIsReverseLogo = true;
    tileWrapperProps.class = `tile__${tileItem.icon} ${tileReverseLogoClasses}`;
  }
  if (tileItem.icon && tileItem.icon.startsWith("logo-cloud-")) {
    tileIsLogo = true;
    tileWrapperProps.class = `tile__icon tile__icon-${tileItem.icon} ${tileWrapperClasses}`;
  }
}
---

<PageSection align={align} color={color} {...props}>
  <div class="tiles">
    {
      items.map((item) => {
        formatTileWrapper(item);

        return tileIsReverseLogo ? (
          <div class="tile__item">
            <TileWrapper {...tileWrapperProps}>
              <span class="tile__logo" aria-label={item.heading} />
            </TileWrapper>
          </div>
        ) : (
          <div class="tile__item">
            <TileWrapper {...tileWrapperProps}>
              {item.icon && tileIsLogo ? (
                <Image
                  class="logo-icon display-block height-8"
                  src={import(`./../assets/${item.icon}.svg`)}
                  alt={item.icon}
                  width="48"
                />
              ) : (
                <span class="display-block">
                  <svg class="usa-icon usa-icon--size-6 accent" role="img" aria-hidden="true">
                    <use href={`${Astro.site}/assets/uswds/img/sprite.svg#${item.icon}`} />
                  </svg>
                </span>
              )}

              {item.heading && <h3 class="accent font-body-lg margin-0">{item.heading}</h3>}

              {item.text && (
                <Markdown
                  content={item.text}
                  classes="font-body-sm line-height-body-3 margin-top-05 margin-bottom-0"
                  inline
                />
              )}

              {item.button && (
                <div class={`usa-button-group ${align === "center" ? "flex-justify-center" : ""}`}>
                  <a class="usa-button usa-button--outline" href={item.button.url}>
                    {item.button.label}
                  </a>
                </div>
              )}
            </TileWrapper>
          </div>
        );
      })
    }
  </div>
</PageSection>
<style lang="scss">
  .tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 0 1rem;
  }

  .tile__item {
    -webkit-font-smoothing: initial;
    flex-basis: 100%;
    max-width: 100%;

    .tile__wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 2rem 1.5rem;
      border-radius: 0.5rem;
      background: #fff;
      color: var(--section-card-text, #333);
      border: 1px solid var(--section-border, #fff);
      gap: 1.5rem;
    }
    .color {
      color: var(--section-card-text, #333);
    }
    .accent {
      color: var(--section-accent, #333);
      fill: var(--section-accent, #333);
    }
    .tile__link {
      text-decoration: none;
      transition-property: border, background;
      border-color: var(--section-border, #fff);
      transition-duration: 150ms;
      &:hover {
        border-color: var(--section-accent, #fff);
        background-color: var(--section-border, #fff);
      }
      .color {
        color: var(--theme-color-primary, #333);
      }
      .accent {
        color: var(--theme-color-primary, #333);
        fill: var(--theme-color-primary, #333);
      }
    }
    @media (min-width: 640px) {
      max-width: 32em;
    }
    @media (min-width: 800px) {
      flex: 1 1 calc(33.333% - 1rem);
      max-width: calc(33.333% - 1rem);
    }
  }

  .tile__item .tile__icon {
    @media (min-width: 1200px) {
      padding: 2.5rem;
    }
    .accent {
      color: var(--theme-color-base-dark, #222);
    }
  }
  .tile__item .tile__reverse {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    border: 1px solid var(--theme-color-cloud-hover, #2672de);
    background-color: var(--theme-color-primary, #2672de);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    border-radius: 0.5rem;
    padding: 2.5rem 1.5rem;
    height: 100%;
    flex-direction: column;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    }
    .tile__logo {
      display: flex;
      background-image: url("../../public/assets/img/logo-cloud-gov-horizontal-reverse.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      flex: 1 1 4rem;
    }
    &-logo-cloud-apps,
    &-logo-cloud {
      background-color: var(--theme-color-cloud, #2672de);
      &:hover {
        background-color: var(--theme-color-cloud-hover, #2672de);
      }
      .tile__logo {
        background-image: url("../assets/img/logo-cloud-apps-horizontal-reverse.svg");
      }
    }
    &-logo-cloud-pages {
      border-color: var(--theme-color-pages-hover, #01a1b9);
      background-color: var(--theme-color-pages, #009ec1);
      &:hover {
        background-color: var(--theme-color-pages-hover, #01a1b9);
      }
      .tile__logo {
        background-image: url("../assets/img/logo-cloud-pages-horizontal-reverse.svg");
      }
    }
    &-logo-cloud-workshop {
      border-color: var(--theme-color-workshop-hover, #de4b00);
      background-color: var(--theme-color-workshop, #ff580a);
      &:hover {
        background-color: var(--theme-color-workshop-hover, #de4b00);
      }
      .tile__logo {
        background-image: url("../assets/img/logo-cloud-workshop-horizontal-reverse.svg");
      }
    }
  }
</style>
