---
import Markdown from "./Markdown.astro";
import PageSection from "./PageSection.astro";

interface Link {
  label: string;
  url: string;
}

interface Item {
  icon?: string;
  heading?: string;
  text?: string;
  link?: Link;
}

interface Props {
  heading?: string;
  intro?: string;
  outro?: string;
  items?: Item[];
  align?: "center" | "left";
  background?: string;
}

const { heading, intro, outro, items = [], align = "center", background = "base" } = Astro.props;
---

<PageSection heading={heading} intro={intro} outro={outro} background={background} align="left">
  {
    items.map((item) => (
      <div class="grid-col-12 tablet-lg:grid-col-6 desktop-lg:grid-col-4 margin-bottom-3">
        <div
          class={`display-flex flex-column height-full padding-y-4 padding-x-3 radius-lg border bg-white border-${background}-lighter text-${background}-vivid text-${align}`}>
          {item.icon && (
            <span class="margin-bottom-1 display-block">
              <svg class="usa-icon usa-icon--size-4" role="img" aria-hidden="true">
                <use href={`${Astro.site}/assets/uswds/img/sprite.svg#${item.icon}`} />
              </svg>
            </span>
          )}

          {item.heading && <h3 class="font-body-lg margin-bottom-1 margin-top-2">{item.heading}</h3>}

          {item.text && (
            <Markdown
              content={item.text}
              classes={`font-body-sm line-height-body-3 margin-top-05 margin-bottom-0 text-${background}-darkest`}
              inline
            />
          )}

          {item.link && (
            <div
              class={`usa-button-group margin-top-2 margin-bottom-0 ${align === "center" ? "flex-justify-center" : ""}`}>
              <a class="usa-button usa-button--outline" href={item.link.url}>
                {item.link.label}
              </a>
            </div>
          )}
        </div>
      </div>
    ))
  }
</PageSection>
