---
import Markdown from "./Markdown.astro";
import PageSection from "./PageSection.astro";
interface Link {
  label: string;
  url: string;
}

interface Item {
  icon?: string;
  heading?: string;
  text?: string;
  link?: Link;
}

interface Props {
  heading?: string;
  intro?: string;
  outro?: string;
  items?: Item[];
  background?: string;
}

const { heading, intro, outro, items = [], background = "white" } = Astro.props;
---

<PageSection heading={heading} intro={intro} outro={outro} background={background} align="left">
  {
    items.map((item) => (
      <div class="grid-col-12 tablet-lg:grid-col-6 display-flex flex-row padding-bottom-3">
        {item.icon && (
          <div class="width-4 margin-right-2">
            <svg class="usa-icon usa-icon--size-4" role="img" aria-hidden="true">
              <use href={`${Astro.site}/assets/uswds/img/sprite.svg#${item.icon}`} />
            </svg>
          </div>
        )}

        <div class="display-flex flex-column height-full padding-right-2">
          {item.heading && <h3 class="font-body-md margin-bottom-05 margin-top-1 minh-3">{item.heading}</h3>}

          {item.text && (
            <Markdown
              content={item.text}
              classes="font-body-sm line-height-body-3 margin-top-05 margin-bottom-0 minh-4"
              inline
            />
          )}

          {item.link && (
            <p class="font-body-xs line-height-body-3 margin-top-1 margin-bottom-0">
              <a class="usa-link" href={item.link.url}>
                {item.link.label}
                <svg class="usa-icon text-bottom width-2 height-205" aria-hidden="true" focusable="false" role="img">
                  <use href={`${Astro.site}/assets/uswds/img/sprite.svg#navigate_next`} />
                </svg>
              </a>
            </p>
          )}
        </div>
      </div>
    ))
  }
</PageSection>
